<div class="page-header">
  <div>
    <h1>
      @if (auth.user(); as user) {
        Bem-vindo, {{ user.firstName }}!
      } @else {
        Bem-vindo ao Meu Gestor Rural
      }
    </h1>
    <p>Comece pelos cadastros básicos: eles são a base para registrar plantações e safras.</p>
  </div>
</div>

<div class="shortcuts">
  @for (item of shortcuts; track item.route) {
    <a class="shortcut" [routerLink]="item.route">
      <span class="shortcut__icon" aria-hidden="true">{{ item.icon }}</span>
      <span class="shortcut__label">{{ item.label }}</span>
      <span class="shortcut__description">{{ item.description }}</span>
    </a>
  }
</div>
